@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');

:root {
    --grayish-violet: hsl(270, 3%, 87%);
    --gray: hsl(279, 6%, 55%);
    --violet: hsl(278, 68%, 11%);
    --red: hsl(0, 100%, 66%);
    --gradient: linear-gradient(to right, hsl(249, 99%, 64%), hsl(278, 94%, 30%));

}


*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%; /* 10px = 1rem | 62.5%  of default 16px = 10px but allow user to increase*/
}

body {
    font-family: 'Space Grotesk', sans-serif;
    box-sizing: border-box;
    font-weight: 500;
}

/* Credit Cards Images Column */
.container {
    display: flex;
    background-image: url('../images/bg-main-desktop.png');
    background-repeat: no-repeat;
    background-size: contain;
    height: 100vh;

}

.ccard {
    position: relative;
    left: 14rem;
    /* transform: translateY(-50%); */
}

.front, 
.back,
.front::before,
.back::before {
    width: 44.7rem;
    min-width: 35rem;
    height: 24.5rem;
    min-height: 19rem;
    border-radius: 1rem;
}



.front {
    color: #fff;
    background-image: url('../images/bg-card-front.png');
    background-size: cover;
    padding: 2.7rem 3.2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    top: 10rem;
    /* z-index: 99; */
}

.back {
    color: var(--grayish-violet);
    background-image: url('../images/bg-card-back.png');
    background-size: contain;
    background-color: transparent;
    position: absolute;
    bottom: 15rem;
    left: 8.7rem;
    /* z-index: 3; */
}
.front::before,
.back::before {
    content: "";
    background-color: hsla(279, 6%, 55%, 0.1);
    position: absolute;
    bottom: 0rem;
    left: 0rem;
    box-shadow: 0rem 4rem 5rem hsla(279, 6%, 55%, 0.3);
    z-index: -999;
}


.front__info-sub, 
.back__cvc {
    font-size: 1.4rem;
    letter-spacing: 0.14em;
    text-transform: uppercase;
}

.front__deco {
    display: flex;
    align-items: center;
}

.front__deco-fill {
    width: 4.7rem;
    height: 4.7rem;
    border-radius: 100rem;
    background-color: #fff;
}

.front__deco-empty {
    width: 2.2rem;
    height: 2.2rem;
    border-radius: 100rem;
    background-color: transparent;
    border: 1px solid #fff;;
    margin-left: 1.6rem;
}

.front__info-num {
    font-size: 2.8rem;
    letter-spacing: 0.12em;
}

.front__info-sub {

    display: flex;
    justify-content: space-between;
    margin-top: 2.5rem;
}

.front__info-val {
    letter-spacing: 0;
}


.back__cvc {
    position: absolute;
    top: 11.1rem;
    right: 6rem;  
}


/* Form Column */


label, input, button {
    font-family: inherit;
    display: block;
    
}

label {
    text-transform: uppercase;
    font-size: 1.2rem;
    letter-spacing: 0.18em;
}

input, button {
    font-size: 1.8rem;
    border-radius: 1rem;
    width: 100%;
}

.card__form {
    border: none;
    background-color: #fff;
    position: absolute;
    right: 22.6rem;
    top: 50%;
    transform: translateY(-50%);
    width: 38.3rem;
    height: 35rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: inherit;
    z-index: 999;
}


input {
    margin-top: 0.5rem;
    border: 2px solid var(--grayish-violet);   
    padding: 1rem 1.6rem;
    position: relative;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


input:focus {
    outline: none;
    border-image-source: var(--gradient);
    border-width: 1px;
    border-image-slice: 1;
    border-radius: 0.5rem;    
}


.form__row {
    display: flex;
}

.form__date {
    width: 8rem;
    display: inline;
}

.form__cvc {
    width: 20rem;;
}

.btn {
    color: white;

    background-color: var(--violet);
    border: none;
    padding: 1.5rem;
    transition: all 0.1s ease-in;
}



.btn:hover {
    cursor: pointer;
    transform: translateY(-0.3rem);
    box-shadow: 0 1rem 1.5rem var(--grayish-violet);
}

.btn:active {
    transform: translateY(-0.1rem);
    box-shadow: 0 0.3rem 0.5rem var(--grayish-violet);

}


.form__warning {
    color: var(--red);
    display: block;
    margin-top: 0.9rem;
    margin-bottom: 1.7rem;
    font-size: 1.2rem;
}

.form__warning.hidden {
    opacity: 0;
}

input.error {
    outline: none !important;
    border: 0.2rem solid var(--red);
}

@media screen and (max-width: 978px) {
    .ccard {
        left:5rem;
    }
}

@media screen and (max-width: 500px) {
    .container {
        background-size: 100%;
    }
    .ccard {
        left:1rem;
    }
    .front {
        z-index: 2;
    }

    .back, .back::before {
        top: 5rem; 
        left:3rem;
    }

    .card__form {
        left: 50%;
        transform: translateX(-50%);
    }

}
