@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');

@keyframes goLeft {
    0% {
        opacity: 0;
        transform: translate(100vh, 0);
    }

    40% {
        opacity: 0;
    }

    100% {
        opacity: 1;
        transform: translate(0, 0);
    }
  }


:root {
    --grayish-violet: hsl(270, 3%, 87%);
    --gray: hsl(279, 6%, 55%);
    --violet: hsl(278, 68%, 11%);
    --red: hsl(0, 100%, 66%);
    --gradient: linear-gradient(to right, hsl(249, 99%, 64%), hsl(278, 94%, 30%));

}


*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%; /* 10px = 1rem | 62.5%  of default 16px = 10px but allow user to increase*/
}

body {
    font-family: 'Space Grotesk', sans-serif;
    box-sizing: border-box;
    font-weight: 500;
    overflow-x: hidden;
}

/* Credit Cards Images Column */
.container {
    display: flex;
    width: 100vw;
    height: 100vh;
}

.container__card {
    width: 50%;
    background-image: url('../images/bg-main-desktop.png');
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 16rem;
}

.front, 
.back,
.front::before,
.back::before {
    width: 44.7rem;
    height: 24.5rem;
    border-radius: 1rem;
    margin: 2rem 0;

}

.front {
    color: #fff;
    background-image: url('../images/bg-card-front.png');
    background-repeat: no-repeat;
    background-size: contain;
    padding: 2.7rem 3.2rem;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-self: start;
    animation: goLeft .8s ease-in;


}

.back {
    color: var(--grayish-violet);
    background-image: url('../images/bg-card-back.png');
    background-size: contain;
    background-color: transparent;
    background-repeat: no-repeat;
    position: relative;
    align-self: flex-end;
    animation: goLeft .8s ease-in;
    animation-delay: .3s;
    animation-fill-mode: backwards;

}

.front::before,
.back::before {
    content: "";
    position: absolute;
    bottom: -1.5rem;
    left: 0rem;
    box-shadow: 0rem 4rem 5rem hsla(279, 6%, 55%, 0.3);
    z-index: -999;
}


.front__info-sub, 
.back__cvc {
    font-size: 1.4rem;
    letter-spacing: 0.14em;
    text-transform: uppercase;
}

.front__deco {
    display: flex;
    align-items: center;
}

.front__deco-fill {
    width: 4.7rem;
    height: 4.7rem;
    border-radius: 100rem;
    background-color: #fff;
}

.front__deco-empty {
    width: 2.2rem;
    height: 2.2rem;
    border-radius: 100rem;
    background-color: transparent;
    border: 1px solid #fff;;
    margin-left: 1.6rem;
}

.front__info-num {
    font-size: 2.8rem;
    letter-spacing: 0.12em;
}

.front__info-sub {
    display: flex;
    justify-content: space-between;
    margin-top: 2.5rem;
}

.front__info-val {
    letter-spacing: 0;
}


.back__cvc {
    position: absolute;
    top: 11.1rem;
    right: 6rem;  
}


/* Changing default form settings */


label, input, button {
    font-family: inherit;
    display: block;
    
}

label {
    text-transform: uppercase;
    font-size: 1.2rem;
    letter-spacing: 0.18em;
}

input, button {
    font-size: 1.8rem;
    border-radius: 1rem;
    width: 100%;
}

input {
    margin-top: 0.5rem;
    border: 2px solid var(--grayish-violet);   
    padding: 1rem 1.6rem;
    position: relative;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: var(--grayish-violet);
    opacity: 1; /* Firefox */
  }

input:focus {
    outline: none;
    border-image-source: var(--gradient);
    border-width: 1px;
    border-image-slice: 1;
    border-radius: 0.5rem;    
}


.container__form {
    width: 50%;
    height: 100vh;
    z-index: 999;
    display: grid;
    grid-template: 1fr / 1fr;
    place-items: center start;
    padding-left: 10rem;
}

.container__form * {
    grid-column: 1 / 1;
    grid-row: 1 / 1;
}

.card__form, .card__msg {
    opacity: 1;
    border: none;
    background-color: #fff;
    width: 38.3rem;
    height: 35rem;
    display: flex;
    flex-direction: column;
    position: relative;
    transition: opacity .8s ease-in;

}

.card__form {
    justify-content: space-between;
    font-family: inherit;
    z-index: 2;
}

.card__form.submitted {
    opacity: 0;
}

.card__msg {
    background-color: transparent;
    align-items: center;
    justify-content: space-around;
    z-index: 1;   
}

.card__msg.hidden {
    opacity: 0;
}


.form__row {
    display: flex;
}

.form__date {
    width: 8rem;
    display: inline;
}

.form__cvc {
    width: 20rem;;
}

.btn {
    color: white;
    background-color: var(--violet);
    border: none;
    padding: 1.5rem;
    transition: all 0.1s ease-in;
}


.btn:hover {
    cursor: pointer;
    transform: translateY(-0.3rem);
    box-shadow: 0 1rem 1.5rem var(--grayish-violet);
}

.btn:active {
    transform: translateY(-0.1rem);
    box-shadow: 0 0.3rem 0.5rem var(--grayish-violet);
}

.form__warning {
    color: var(--red);
    display: block;
    margin-top: 0.9rem;
    margin-bottom: 1.7rem;
    font-size: 1.2rem;
    transition: opacity .2s ease-in;
}

.form__warning.hidden {
    opacity: 0;
}

input.error {
    outline: none !important;
    border: 0.2rem solid var(--red);
}

.card__msg-title {
    font-size: 3rem;
    letter-spacing: 1rem;
    text-transform: uppercase;
}

.card__msg-confirmation {
    font-size: 1.8rem;
    color: var(--gray);
}

@media screen and (max-width: 978px) {
    .container {
        flex-direction: column;
    }

    .container__card, .container__form {
        padding: 0;
    }

    .container__card {
        width: 100%;
        background-size: 100%;
        background-position-y: 115%;
        align-items: center;
    }

    .front, 
    .back {
        margin: 2rem 0;
        align-self: center;
    }

    .container__form {
        width: 100%;
        height: fit-content;
    }

    .card__form, .card__msg {
        margin: 5rem auto;
    }

}



@media screen and (max-width: 415px) {

    .container__card {
        background-image: url('../images/bg-main-mobile.png');
        background-size: contain;
    }

    .front,
    .back,
    .front::before,
    .back::before {
        /* width: 35rem; */
        /* height: auto; */
        width: 34.7rem;
        height: 19rem;
    }

    .front::before,
    .back::before {
        content: "";
        position: absolute;
        bottom: 5rem;
        left: 0rem;
        box-shadow: 0rem 4rem 5rem hsla(279, 6%, 55%, 0.3);
        z-index: -999;
    }

    .front__info-num {
        font-size: 1.8rem;
        letter-spacing: 0.12em;
    }


.container__form {
    place-items: center;

}

.card__form, .card__msg {
    width: 32rem;
}
.form__row {
    justify-content: left;
}


.form__cvc {
    width: 100%;
}

}
