@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

:root {
    --Medium-Orange: hsl(26, 55%, 48%);
    --Orange        : hsl(25, 97%, 53%);
    --White         : hsl(0, 0%, 100%);
    --Light-Grey    : hsl(217, 12%, 63%);
    --Medium-Grey   : hsl(214, 12%, 54%);
    --Dark-Grey     : hsl(208, 20%, 15%);
    --Dark-Grey-2   : hsl(216, 11%, 18%);
    --Dark-Blue     : hsl(217, 20%, 13%);
    --Very-Dark-Blue: hsl(216, 12%, 8%);
}



* {
    box-sizing: border-box;
    margin    : 0;
    padding   : 0;
}

body {
    background-color: var(--Very-Dark-Blue);
    font-family     : 'Overpass', sans-serif;
    font-size       : 15px;
    display         : flex;
    flex-direction  : column;
    align-items     : center;
    justify-content : center;
    height          : 100vh;
    overflow        : hidden;
    margin          : 0;
}

button {
    font-family: inherit;
}

/* Container and common elements  */

body.js-stop-transition * { transition:none !important; }

.container {
    background-color: var(--Dark-Blue);
    display         : flex;
    flex-direction  : column;
    align-items     : center;
    justify-content : center;
    height          : 60vh;
    width           : 60vh;
    border-radius   : 40px;

    position: relative;

}

.child {
    opacity        : 0;
    padding        : 2rem 2.5rem;
    color          : var(--Medium-Grey);
    height         : 100%;
    display        : flex;
    flex-direction : column;
    justify-content: space-around;
    position       : absolute;
    transition: opacity 0.5s ease-in;
}

.child.active {
    opacity: 1;
    z-index: 1;
}

.title {
    color: var(--White);
}

.content-text {
    margin-top : -1.1rem;
    padding    : 0 1rem 0 0;
    line-height: 1.5rem;
}

/* Rating Page  */

.fa-star {
    color: var(--Orange);
}


.circle {
    background-color: var(--Dark-Grey);
    color           : var(--White);
    border          : none;
    width           : 3.5rem;
    height          : 3.5rem;
    border-radius   : 50%;
    display         : flex;
    justify-content : center;
    align-items     : center;
    transition: 100ms ease-in;
}

.circle.rating:hover {
    background-color: var(--Orange);
    cursor          : pointer;
}

.circle.rating:focus {
    background-color: var(--Medium-Grey);
    cursor          : pointer;
}

.fill {
    background-color: var(--Medium-Grey);
    transition: 100ms ease-in;
}

.rating-list {
    display        : flex;
    list-style     : none;
    justify-content: space-between;
    align-items    : center;
}

.error-message {
    color: var(--Medium-Orange);
    font-style: italic;
    transition: opacity 0.1s ease-in;
    
}

.hidden {
    opacity: 0;
    transition: opacity 0.1s ease-in;
}

/* Submit Button  */

.btn {
    background-color: var(--Orange);
    color           : var(--White);
    width           : 100%;
    
    border          : none;
    border-radius   : 30px;
    padding         : 0.9rem 0;
    font-size       : 1rem;
    letter-spacing  : 0.1rem;
    letter-spacing  : 0.1em;
    text-transform  : uppercase;
}

.btn:hover {
    background-color: var(--White);
    color           : var(--Orange);
    cursor          : pointer;
}


/* Submited Page  */

.submited {
    text-align: center;
}

.submited-img {
    display: block;
    margin : 0 auto;
    width  : 50%;
}

.rating-text {
    background-color: var(--Dark-Grey-2);
    color: var(--Medium-Orange);
    font-size: 0.8rem;
    display: inline-block;
    width: fit-content;
    margin: 0 auto;
    padding: 0.3rem 1rem;
    border-radius: 15px;
}


/* Attribution  */
.attribution {
    font-size: 0.7rem;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    color: var(--Light-Grey);
    position: absolute;
    transform: translate(-50%, 100%);
    letter-spacing: 1px;
}

.attribution a {
    color: var(--Orange);
    text-decoration: none;
}

.attribution a:hover {
    color: var(--White);
}


@media screen and (max-width: 470px) {
    .container {
        height       : 50vh;
        width        : 90vw;
        border-radius: 20px;
    }

    .child {
        padding: 1.5rem;
    }

    .circle {
        width : 2.5rem;
        height: 2.5rem;
    }
}