@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap');


:root {
    --dark-blue: hsl(233, 26%, 24%);
    --lime-green: hsl(136, 65%, 51%);
    --green-cyan: #49BC96;
    --bright-cyan: hsl(192, 70%, 51%);
    --grayish-blue: hsl(233, 8%, 62%);
    --light-grayish-blue: hsl(220, 14%, 96%);
    --very-light-gray: hsl(0, 0%, 98%);
    --gradient: linear-gradient(to right, var(--lime-green), var(--bright-cyan));
    --gradient-hover: linear-gradient(to right, #83E49E, #81D5E0);
    --dark-blue-opct: hsla(233, 26%, 24%, 0.2);
    --shadow: linear-gradient(hsla(233, 26%, 24%, 0.8), hsla(255, 255%, 255%, 0.2));
}

/* General and global settings */


*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    -webkit-font-smoothing: antialiased;
    /* 10px = 1rem | 62.5%  of default 16px = 10px but allow user to increase*/
}

body {
    font-family: 'Public Sans', sans-serif;
    font-weight: 400;
    line-height: 1.6;
    color: #777;
    box-sizing: border-box;
    font-size: 1.8rem;
    overflow-x: hidden;
    letter-spacing: -0.07rem;


}

a:link, a:visited {
    text-decoration: none !important;
    color: var(--dark-blue)
}

a:hover {
    color: var(--green-cyan);
}

h2 {
    font-size: 4rem;
}

h3 {
    font-size: 2.5rem;
}

h4 {
    font-size: 2rem;
}

h1,
h2,
h3,
h4 {
    color: var(--dark-blue);
}

p {
    color: var(--grayish-blue);
}

.header__nav,
.header__main,
.main,
.articles,
.footer {
    padding: 0rem 16.5rem;
}

.button:link,
.button:visited {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: inherit;
    font-size: 1.5rem;
    color: #fff;
    text-decoration: none;
    background-image: var(--gradient);
    border: none;
    border-radius: 10rem;
    transition: all .2s ease-out;
    width: 18rem;
    height: 4.4rem;
}


.button:hover {
    background-image: var(--gradient-hover);
    cursor: pointer;
    transform: translateY(-0.3rem);
    box-shadow: 0 1rem 2rem var(--dark-blue-opct);
}

.button:active {
    transform: translateY(-0.1rem);
    box-shadow: 0 0.5rem 1rem var(--dark-blue-opct);
    background-image: var(--gradient);
}

.card {
    border: none;
    border-radius: 0.5rem;
}

/**** Header  *****/

.header {
    position: relative;
    background-image: url('../images/bg-intro-desktop.svg');
    background-size: fill;
    background-repeat: no-repeat;
    background-position-x: 60rem;
    background-position-y: 55%;
    background-color: var(--very-light-gray);
    height: 74.5rem;
}


.header__nav {
    position: relative;
    background-color: #fff;
    height: 8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 999;
    font-size: 1.5rem;
    width: 100%;
}

.header__logo {
    width: 14rem;
    height: 2rem;
}

#navbarNavAltMarkup {
    transition: all 0.3s ease-out;
}

.navbar-collapse {
    flex-grow: 0;
    transition: all 0.3s ease-out;
}


.header__nav-ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 33.5rem;
    height: 100%;
    list-style: none;
}


li a.header__nav-item:link,
li a.header__nav-item:visited {
    color: var(--grayish-blue);
    transition: all 0.3s ease-in;
}

li a.header__nav-item:hover {
    color: var(--dark-blue);
    padding-bottom: 2.9rem;
    border-bottom: 0.5rem solid;
    border-image: var(--gradient) 1;
}

.header__main {
    height: 80%;
    display: flex;
    justify-content: space-between;
}



.header__title {
    display: flex;
    flex-direction: column;
    justify-content: center;
}



.header__title-main {
    width: 70%;
    font-size: 5.2rem;
    font-weight: 400;
    line-height: 6.5rem;
    padding-bottom: 3rem;
}

.header__title-sub {
    color: var(--grayish-blue);
    padding-bottom: 2rem;
    width: 75%;
}

.header__image-box {
    max-width: 50%;
    position: relative;
    top: -12rem;
    right: calc(-9rem);
    object-fit: contain;
}



/**** Main  *****/
.main {
    background-color: var(--light-grayish-blue);
    height: 67rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.main__title-main {

    padding: 1rem 0;
}

.main__title-sub {
    width: 50%;
}

.main__features {
    display: flex;
    justify-content: space-between;
}

.main__features img {
    width: 8rem;
    padding-bottom: 3rem;
}

.features-card {
    background-color: transparent;
}

.features-card.card-body {
    padding: 0;
}


.features-description {
    padding-top: 2rem;
    font-size: 1.6rem;
}


/**** Articles  *****/
.articles {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: var(--very-light-gray);

}

.articles__title {
    padding-top: 3rem;
    padding-bottom: 1rem;
}

.articles__row {
    padding-bottom: 6rem;
}

.articles__card {
    margin: 1rem 0;
}

.articles__image {
    border-radius: 0.5rem 0.5rem 0 0;
    height: 20rem;
    object-fit: cover;
}


.articles__body.card-body {
    padding: 2rem 3rem 2rem 2rem;
}

.articles__card-author {
    font-size: 1.2rem;
}

.articles__text {
    font-size: 1.5rem;
}

/**** Footer  *****/
.footer {
    background-color: var(--dark-blue);
}


@media screen and (max-width: 992px) {

    .header,
    .main,
    .articles__title {
        text-align: center;
    }

    .header__nav {
        position: fixed;
    }

    #navbarNavAltMarkup {
        position: inherit;
        top: 8rem;
        left: 50%;
        background-color: #fff;
        border-radius: 0.5rem;
        margin: 2rem auto;
        width: 30rem;
        transform: translateX(-50%);
        height: 30rem;
        padding: 2rem;

    }

    .header__nav-ul.navbar-nav {
        width: 100%;
        flex-direction: column;
    }

    .navbar-collapse {
        flex-grow: 1;
    }

    .header__nav-item.nav-item {
        padding: 2rem;
    }

    li a.header__nav-item:link,
    li a.header__nav-item:visited {
        color: var(--dark-blue);
        transition: all 0.3s ease-in;
    }

    li a.header__nav-item:hover {
        color: var(--dark-blue);
        padding-bottom: 2rem;
        border-bottom: 0.5rem solid;
        text-decoration: none;
    }

    .button.header__nav-btn {
        display: none;
    }

    .header__title {
        align-items: center;
        /* text-align: center; */
    }

    .header__title-main,
    .header__title-sub {
        width: 100%;
    }

    .header__title-main {
        font-size: 4rem;
    }

    .header__image-box {
        display: none;
    }

    .main {
        height: fit-content;
        /* text-align: center; */
    }

    .main__title-sub {
        width: 100%;
    }

    .main__features {
        flex-direction: column;
    }

    .features-card {
        width: 100%;
        align-items: center;
        margin: 2rem 0;
    }


    
}

@media screen and (max-width: 650px) {

    .header__nav,
    .header__main,
    .main,
    .articles,
    .footer {
        padding: 0 4.2rem;
    }


}

@media screen and (max-width: 500px) {

    .main,
    .articles {
        padding-top: 5rem;
        padding-bottom: 5rem;

    }

    .header.mobile {
        height: fit-content;
    }

    .header__title {
        margin-top: 50rem;
        padding-bottom: 5rem;
    }

    .header__main.mobile {
        background-image: var(--shadow), url('../images/image-mockups.png'), url('../images/bg-intro-mobile.svg');
        background-size: contain;
        background-repeat: no-repeat;
        background-position-y: -100rem, -10rem, 0;
        transition: all 0.4s ease-out;
    }


    .header__main.mobile.shadow {
        background-position-y: 0, -10rem, 0;
    }

    .articles__body.card-body {
        padding: 3.5rem;
    }

}