@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Martian+Mono:wght@200;400;800&display=swap');


:root { 
    --dark-red: #A60311; 
    --cherry-red: #A6032F; 
    --brick-red: #DD5353;
    --tile-red: #B73E3E;
    --forest-green: #4D734F; 
    --cream: #F2EDD5; 
    --mostard: #d9a404; 
    --title-font: 'Bungee Shade', cursive;
    --content-font: 'Martian Mono', monospace;
}

body {
    background-color: var(--dark-red);
    font-family: var(--content-font);
    text-align: right;
}

h1 {
    color: var(--cherry-red);
    font-family: var(--title-font);
    font-size: 2.5rem;
}

p {
    padding: 5% 0% 5% 15%;
    color: var(--forest-green);
    line-height: 2;

}

.row {
    padding: 0;
}

#page-row {
    background-color: var(--forest-green);
    width: 80%;
    margin: 0 auto;
}

/* Page Title  */

#title {
    background-color: var(--mostard);
    height: auto;
    padding: 5%;
}

.description {
    position: sticky;
    top: 5%;
    z-index: 999;
}

#contact-row {
    padding: 5% 0% 5% 50%;
}

.icon {
    font-size: 35px;
    color: var(--dark-red);
}

/* Gallery  */

#gallery-col {
    padding: 5%;
}

/* .gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 5%;
    max-width: 1400px;
    margin: 0 auto;
    gap: 16px;
} */

.preview-img {
    width: 100%;
    max-width: 250px;
    height: auto;
    object-fit: fil;
    border-radius: 10px;
    filter: sepia(100%);
    border: 2px dashed var(--tile-red);
    /* opacity: 0.8;     */
}

.preview-img:hover{
    filter: none;
}

.hidden {
    visibility: hidden;
}

@media screen and (max-width:1440px) {
    #page-row {
        width: 90%;
    }
}

@media screen and (max-width:1290px) {
    #page-row {
        width: 100%;
    }
}



@media screen and (max-width:650px) {
    .gallery img {
        width: 100%;
        max-width: 450px;
        height: 250px;
        object-fit: cover;
        border-radius: 10px;
        border: 2px dashed #FFDD83;
    }
}