@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Martian+Mono:wght@200;400;800&display=swap');


:root { 
    --dark-red: #A60311; 
    --cherry-red: #A6032F; 
    --brick-red: #DD5353;
    --tile-red: #B73E3E;
    --forest-green: #4D734F; 
    --cream: #F2EDD5; 
    --mostard: #d9a404; 
    --title-font: 'Bungee Shade', cursive;
    --content-font: 'Martian Mono', monospace;
}

body {
    background-color: var(--dark-red);
    font-family: var(--content-font);
}

h1 {
    color: var(--cherry-red);
    font-family: var(--title-font);
    font-size: 2.5rem;
    padding-right: 5%;
}


.row {
    padding: 0;
    height: auto;
}

#page-row {
    background-color: var(--forest-green);
    width: 80%;
    margin: 0 auto;
}

/* Page Title  */

#title {
    background-color: var(--mostard);
    height: 100vh;
}

.challenges {
    font-size: 2.2rem;
}

.description {
    position: sticky;
    top: 5%;
    z-index: 999;
}

.description p {

    padding: 5% 0% 5% 15%;
    color: var(--forest-green);
    line-height: 2;
    padding-right: 5%;

}

#contact-row {
    padding: 5% 5% 5% 75%;
}

.icon {
    font-size: 35px;
    color: var(--dark-red);
}

/* Gallery  */

#gallery-col {
    padding: 2%;
}

.preview-img {
    width: 100%;
    max-width: 500px;
    height: auto;
    object-fit: cover;
    filter: sepia(100%);
}

.preview-img:hover{
    filter: none;
}

.project-info {
    font-size: 0.7rem;
}

.project-title{
    background-color: var(--forest-green);
    color: var(--cream);
    text-align: center;
    padding: 5px 0;
    font-weight: 800;
    
}

.hidden {
    visibility: hidden;
}


/* @media screen and (max-width:1200px) {

    h1 {
        font-size: 1.7rem;
    }
} */
