@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

:root {
    --strong-cyan       : hsl(172, 67%, 45%);
    --light-strong-cyan: hsl(171, 61%, 77%);
    --dark-cyan         : hsl(183, 100%, 15%);
    --medium-cyan       : hsl(183, 79%, 24%);
    --dark-grayish-cyan : hsl(186, 14%, 43%);
    --grayish-cyan      : hsl(184, 14%, 56%);
    --light-grayish-cyan: hsl(185, 41%, 84%);
    --white-cyan        : hsl(189, 41%, 97%);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

fieldset {
    border: none;
}


body {
    background-color: var(--light-grayish-cyan);
    font-family: 'Space Mono', monospace;
    font-weight: 700;
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

label {
    display: block;
    padding-bottom: 10px;
}

input {
    font-family: inherit;
    font-weight: inherit;
    cursor: pointer;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.title-box {
    color: var(--medium-cyan);
    padding-bottom: 4.5rem;
    letter-spacing: 10px;
    
}

.title-main, .title-sub {
    display: block;
    font-size: 20px;
}

.app-container {
    background-color: #fff;
    height: 66vh;
    width: 66vw;
    min-height: fit-content;
    max-width: 920px;
    max-height: 480px;
    border-radius: 20px;
    display: flex;
    
}

/* LEFT CHILD CONTAINER - FORM BOX  */

.form-box {
    padding: 2rem;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: var(--dark-grayish-cyan);
}


.tips-grid-container {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    grid-auto-columns: minmax(0, 1fr);
    grid-auto-flow: column;
}

.number-input {
    background-color: var(--white-cyan);
    color: var(--dark-cyan);
    padding: 6px 10px;
    border: 2px solid var(--white-cyan);
    border-radius: 5px;
    text-align: right;
    font-size: 24px;
    display: block;
    width: 100%;
}

.number-input:focus {
    outline: none !important;
    border: 2px solid var(--strong-cyan);
}


.btn {
    background-color: var(--dark-cyan);
    color: var(--white-cyan);
    font-size: 18px;
    padding: 10px;
    border-radius: 5px;
    min-width: 50px;
}

.btn:not(:last-child) {
    border: none;
}

.btn:hover:not(:last-child) {

    background-color: var(--light-strong-cyan);
    color: var(--dark-cyan);
}


.btn-5  { 
    grid-area: 1 / 1 / 2 / 2; 
}

.btn-10 { 
    grid-area: 1 / 2 / 2 / 3; 
}

.btn-15 { 
    grid-area: 1 / 3 / 2 / 4; 
}

.btn-25 { 
    grid-area: 2 / 1 / 3 / 2; 
}

.btn-50 { 
    grid-area: 2 / 2 / 3 / 3; 
}

.btn-custom {
    color: var(--dark-cyan);
    grid-area: 2 / 3 / 3 / 4; 
    background-color: var(--white-cyan);
}


.btn-custom::placeholder {
    text-align: center;
}


/* RIGHT CONTAINER - RESULT BOX  */

.result-box {
    background-color: var(--dark-cyan);
    width: 50%;
    margin: 1.5rem;
    border-radius: 15px;
}



@media screen and (max-width: 500px) {
    
    .app-container {
        width: 80vw;
        height: auto;
        flex-direction: column;
    }

    .form-box {
        width: 100%;
    }

    .result-box {
        width: 100%;
    }

    .tips-grid-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-column-gap: 15px;
        grid-row-gap: 15px;
        }
        
        .btn-5      { grid-area: 1 / 1 / 2 / 2; }
        .btn-10     { grid-area: 1 / 2 / 2 / 3; }
        .btn-15     { grid-area: 2 / 1 / 3 / 2; }
        .btn-25     { grid-area: 2 / 2 / 3 / 3; }
        .btn-50     { grid-area: 3 / 1 / 4 / 2; }
        .btn-custom { grid-area: 3 / 2 / 4 / 3; }

}