/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&family=Raleway:wght@400;700&display=swap');


/* Variables  */
:root {
    --dark-blue: hsl(243, 87%, 12%);
    --desaturated-blue: hsl(238, 22%, 44%);
    --bright-blue: hsl(224, 93%, 58%);
    --sky-blue: hsl(221, 100%, 71%);
    --cyan: hsl(170, 45%, 43%);
    --light-cyan: hsl(169, 63%, 67%);
    --white-blue: hsl(240, 75%, 98%);
    --light-gray: hsl(0, 0%, 75%);
}

/* Native elements */

body {
    font-family: 'Open Sans', sans-serif;
    color: var(--dark-blue);
    text-align: left;
    font-size: 18px;
    font-weight: 500;
}

h1, h2, nav {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    line-height: 1.5;
}

input {
    font-size: 0.8rem;
    height: 50px;
    padding: 3%;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid var(--dark-blue);
    box-shadow: 1px 1px 10px hsla(228, 3%, 32%, 0.2);
}

button {
    background-color: var(--bright-blue);
    color: #fff;
    font-size: 0.8rem;
    font-weight: 700;
    letter-spacing: 1px;
    height: 50px;
    border: none;
    border-radius: 3px;
    box-shadow: 1px 1px 10px hsla(228, 3%, 32%, 0.5);
}

button:hover {
    background-color: var(--sky-blue);
}

::placeholder {
    color: var(--light-gray);
}

/* Bootstrap container  */

.container-fluid {
    padding: 0;
}


/* Header */

.page-container {
    padding: 4% 7%;
}

.logo-header {
    width: 90%;
}

.page-header {
    padding: 5% 0;
}

.header-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header-text {
    line-height: 1.7;
    padding-right: 10%;
    /* margin-bottom: ; */
    
}

.form-header {
    padding-right: 10%;
    
}

.form-header .col-lg-8, .form-header .col-lg-4 {
    padding-right: 2px;
}

.email-header {
    width: 100%;
    font-size: 0.8rem;
    margin-bottom: 10px;
    padding: 3%;
}

.btn-header {
    width: 100%;
}

.header-image {
    background-image: url('../images/illustration-1.svg');
    background-repeat: no-repeat;
    background-size: contain;
    height: 450px;
}

/* Middle div  */

.curved-background {
    margin-top: 7%;
}

/* Middle container - Informations  */
.info {
    background-color: var(--white-blue);
}

.info-image {
    margin-top: 10%;
    background-image: url('../images/illustration-2.svg');
    background-repeat: no-repeat;
    background-size: contain;
    height: 400px;
}


.info-p {
    padding: 2% 20% 0 0;
}

.info-a {
    color: var(--cyan);
    text-decoration: none;
    border-bottom: 2px solid var(--cyan);
}

.info-a:hover {
    color: var(--light-cyan);
    border-color: var(--light-cyan);
}

.testimonial-container {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 1px 1px 10px var(--light-gray);
    width: 50%;
    margin: 5% 0;
    padding: 3% 5%;
    font-size: 0.8rem;
}

.icon-quote {
    width: 20px;
    padding-bottom: 10px;
}

.testimonial-text {
    line-height: 1.8;
    letter-spacing: 0.5px;
}

.testimonial-author {
    display: flex;
}

.testimonial-avatar {
    max-width: 40px;
    border-radius: 20px;
}

.author {
    font-size: 0.7rem;
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.author-name {
    font-weight: bold;
}

.author-role {
    font-size: 0.5rem;
    padding-top: 2px;
}

/* Bottom container - Call to Action  */

.cta {
    background-color: var(--desaturated-blue);
    color: var(--white-blue);
    /* padding: 3% ; */
}

.cta .row {
    padding: 3% 0;
}

.cta-p {
    padding-right: 5%;
}

.email-cta {
    width: 70%;
}

.btn-cta {
    width: 40%;
}

.form-cta {
    padding-left: 10%;
    display: flex;
    flex-direction: column;
}

/* Footer  */

.page-footer {
    padding-top: 7%;
    background-color: var(--dark-blue);
    color: #fff;
}

.footer-logo {
    filter: invert(85%) sepia(76%) saturate(0%) hue-rotate(27deg) brightness(500%) contrast(101%);
    margin-bottom: 5%
}

.nav-footer {
    padding: 3% 5%;
    display: flex;
    height: 200px;
    flex-flow: column wrap;
    justify-content: start;
    text-align: left;
}

.nav-item {
    padding: 1% 0;
}

.brands-footer {
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}



/* .hidden {
    display: none;
} */



@media screen and (max-width: 1000px) {

    body {
        text-align: center;
    }

    .page-container {
        padding: 5% 7%;
    }

    .header-text {
        padding: 0 5%;
    }

    .header-image {
        margin-top: 10%;
        background-position: center;
    }

    .form-header {
        padding: 3%;
    }

    .form-cta {
        padding: 0;
    }

    .info-p {
        padding: 3% 10%; 
    }

    .info-p, .testimonial-container {
        text-align: left;
    }

    .info-image {
        background-position: center;
    }

   .testimonial-container  {

        margin: 7% auto;
    }

    .email-cta, .btn-cta {
        width: 90%;
        margin: 10px auto;
    }
}



@media screen and (max-width: 750px) {

    .page-footer {
        text-align: left;
    }

    .nav-footer {
        padding: 15% 0;
        height: auto;
        justify-content: start;
        text-align: start;
    }

    .nav-item {
        padding: 3% 0;
    }

}