@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

:root {
    --dark-blue: hsl(238, 29%, 16%);
    --soft-red: hsl(14, 88%, 65%);
    --soft-violet: hsl(273, 75%, 66%);
    --soft-blue: hsl(240, 73%, 65%);
    --dark-gray: hsl(237, 12%, 33%);
    --gray:hsl(240, 6%, 50%);
    --white: hsl(240, 5%, 91%);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



body {
    background-image: linear-gradient(var(--soft-violet), var(--soft-blue));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    font-size: 12px;

    font-family: 'Kumbh Sans', sans-serif;
    color: var(--dark-blue);
}

hr {
    border: 0;
    border-bottom: 1px solid var(--white);
}

a {
    text-decoration: none;  
    color: inherit;
}

.container {
    background-color:#fff;
    width: 64vw;
    height: 64vh;
    min-width: 600px;
    display: flex;
    border-radius: 20px;
}

/* Images box (left container) */

.images-box {
    width: 50%;
    height: 100%;
    position: relative;
    z-index: 0;
    overflow: hidden;
}

.pattern-img {
    position: relative;
    left: -120%;
    top: -60%;
    z-index: -2;
}

.woman-img {
    position: absolute;
    top: 9%;
    left: -17%;
    z-index: -1;

}

.cardbox-img {
    z-index: 1;
    position: absolute;
    top: 48%;
    transform: translate(-50%, -25%);
}

/* FAQ box (right container) */

.faq-box {
    width: 50%;
    padding: 4.5rem 5.5rem 4.5rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.faq-heading {
    font-size: 2rem;
    font-weight: 700;
    padding-bottom: 5%;
}

/* Question */

.faq-question-box {
    display: flex;  
    justify-content: space-between;
    align-items: center;
}

.faq-question-box:hover {
    cursor: pointer;
    color: var(--soft-red)
}

.faq-question {
    display: inline-block;
    font-size: 0.9rem;
    font-weight: 400;
}


.faq-question.active {
    font-weight: 700;
}

.faq-arrow {
    display: inline-block;
    width: 10px;
    height: 7px;
}

.faq-arrow.up {
    transform: rotate(180deg);
}

/* Answer */

.faq-answer {
    display: block;
    line-height: 1.7;
    padding-right: 13px;
    transition: opacity 0.1s linear;

}

.hidden {
    opacity: 0;
    height: 0;

}

