@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

:root {
    --transparent-white:  hsla(0, 0%, 100%, 0.75);
    --very-light-gray: hsl(0, 0%, 95%);
    --bright-orange: hsl(31, 77%, 52%);
    --dark-cyan: hsl(184, 100%, 22%);
    --very-dark-cyan: hsl(179, 100%, 13%);
}

body {
    
    font-family: 'Lexend Deca', sans-serif; 
    font-size: 15px;
    color: var(--transparent-white);
}

h1 {
    font-family: 'Big Shoulders Display', cursive;
    text-transform: uppercase;
    font-size: 3rem;
    color: var(--very-light-gray);
}

p {
    line-height: 1.8rem;
}

button {
    border: none;
    background-color: var(--very-light-gray);
    border-radius: 25px;
    font-family: 'Lexend Deca', sans-serif;
    width: 65%;
    height: 50px;
    margin-top: 50px;
    font-size: 15px;    
}

.content {
    text-align: left;
    padding: 9% 17% 6%;
}

.card {
    padding: 5% 7% 5% 5%;
    border: none;
}

.orange {
    background-color: var(--bright-orange);
    border-radius: 10px 0 0 10px;
}

.dark-cyan {
    background-color: var(--dark-cyan);
    border-radius: 0;
}

.very-dark-cyan {
    background-color: var(--very-dark-cyan);
    border-radius: 0 10px 10px 0;
}

.icon {
    width: 100px;
    padding-bottom: 15%;
}

.bt-sedan {
    color: var(--bright-orange);
}

.bt-suv {
    color: var(--dark-cyan);
}

.bt-luxury {
    color: var(--very-dark-cyan);
}

button:hover {
    color: var(--very-light-gray);
    border: 2px solid var(--very-light-gray);
    cursor: pointer;
}

.bt-sedan:hover {
    background-color: var(--bright-orange);
}

.bt-suv:hover {
    background-color: var(--dark-cyan);
}

.bt-luxury:hover {
    background-color: var(--very-dark-cyan);
}


@media screen and (max-width: 1000px) {

    .orange {
        background-color: var(--bright-orange);
        border-radius: 10px 10px 0 0;
    }
    
    .very-dark-cyan {
        background-color: var(--very-dark-cyan);
        border-radius: 0 0 10px 10px;
    }

    .card {
        padding: 15%;
    }
}

@media screen and (max-width: 1000px) {
    .content {
        padding: 15% 10%;
    }

    .card {
        padding: 15% 25% 15% 15%; 
    }
}